	
	{% load static%}
	<!-- header -->
	<header class="header">
		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content">
							<!-- header logo -->
							<a href="{% url 'home'%}" class="header__logo">
								<img src={% static "img/default.png"%} alt="">
							</a>
							<!-- end header logo -->

							<!-- header nav -->
							<ul class="header__nav">
								<!-- dropdown -->
								<li class="header__nav-item">
									<a class=" header__nav-link" href="{% url 'home'%}" role="button" id="dropdownMenuHome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>

									{% comment %} <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuHome">
										<li><a href="{%url 'home'%}">Home slideshow bg</a></li>
										
									</ul> {% endcomment %}
								</li>
								<!-- end dropdown -->

								<!-- dropdown -->
								{% comment %} <li class="header__nav-item">
									<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuCatalog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catalog</a>

									<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuCatalog">
										<li><a href="catalog1.html">Catalog Grid</a></li>
										<li><a href="catalog2.html">Catalog List</a></li>
										<li><a href="details1.html">Details Movie</a></li>
										<li><a href="details2.html">Details TV Series</a></li>
									</ul>
								</li> {% endcomment %}
								<!-- end dropdown -->

								{% comment %} <li class="header__nav-item">
									<a href="pricing.html" class="header__nav-link">Pricing Plan</a>
								</li> {% endcomment %}

								<!-- <li class="header__nav-item">
									<a href="faq.html" class="header__nav-link">Help</a>
								</li> -->

								<!-- dropdown -->
								{% comment %} <li class="dropdown header__nav-item">
									<a class="dropdown-toggle header__nav-link header__nav-link--more" href="#" role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon ion-ios-more"></i></a>

									<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuMore">
										<li><a href="about.html">About</a></li>
										<li><a href="{% url 'login'%}">Sign In</a></li>
										<li><a href="{% url 'logout'%}">Sign Up</a></li>
										
									</ul>
								</li> {% endcomment %}
								<!-- end dropdown -->
							</ul>
							<!-- end header nav -->

							<!-- header auth -->
							<div class="header__auth">
								{% comment %} <button class="header__search-btn" type="button">
									<i class="icon ion-ios-search"></i>
								</button> {% endcomment %}
								{% if user.id is not None %}
									<a href="{% url 'logout' %}" class="header__sign-in">
										<i class="icon ion-ios-log-in"></i>
										<span>sign out</span>
									</a>
								{% else %}
								<a href="{% url 'login' %}" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i>
									<span>sign in</span>
								</a>
								{% endif%}
							</div>
							<!-- end header auth -->

							<!-- header menu btn -->
							<button class="header__btn" type="button">
								<span></span>
								<span></span>
								<span></span>
							</button>
							<!-- end header menu btn -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- header search -->
		<form action="#" class="header__search">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__search-content">
							<input type="text" placeholder="Search for a movie, TV Series that you are looking for">

							<button type="button">search</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!-- end header search -->
	</header>
	<!-- end header -->