{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="sign section--bg" data-bg={%static "img/section/section.jpg"%}>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						{% if request.GET.command == 'verification' %}
<div class="continer mx-auto alert alert-info text-center"  role ='alert' style="max-width: 1024px; margin-top:100px;">
thank you for registring wit us.  please check your Email [{{request.GET.email}}]  and verify account
<br>Already verified?<a href='{%url 'login'%}'>Login</a><br>
</div>
{% else %}
{%include 'includes/alerts.html'%}
						<!-- registration form -->
						{%include 'includes/alerts.html'%}
						<form action="{% url 'forgotPassword' %}" class="sign__form" method = 'POST'>
							{% csrf_token %}
							<a href={%static "index.html"%} class="sign__logo">
								<img src={% static "img/default.png"%} alt="">
							</a>

							<div class="sign__group">
								<input type="email" class="sign__input" placeholder="Enter Email" name = 'email'>
							</div>
							<div class="sign__group">
								<a href="url 'login" class="sign__input">Got Password? Login</a>
							</div>
							
							

							{% comment %} <div class="sign__group sign__group--checkbox">
								<input id="remember" name="remember" type="checkbox" checked="checked">
								<label for="remember">I agree to the <a href="#">Privacy Policy</a></label>
							</div> {% endcomment %}
							
							{% comment %} <button class="sign__btn" type="button">Sign up</button> {% endcomment %}

							<span class="sign__text">Already have an account? <a href="{%url 'login'%}">Sign in!</a></span>
						</form>
						{%endif%}
						<!-- registration form -->
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}